body {
    background: none #f39c12;
    color: #fff;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    text-align: center;
}
header.main {
    margin-bottom: 30px;
}
.site-icon {
    font-size: 75px;
    color: #fff;
    margin-top: 40px;
}
.site-name {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75px;
    margin-bottom: 0;
    margin-left: 30px;
}
a {
    color: #FFF;
    text-decoration: none;
}
p {
    margin-top: 10px;
    font-size: 16px;
}
form {
    text-align: left;
}
.form-control {
    margin: 25px 0;
}
.form-action {
    margin: 0;
}
.text-field,
.button {
    background: none #fff;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    display: block;
    line-height: normal;
    padding: 8px 10px;
    width: 100%;
}
.text-field {
    margin: 0 auto;
    color: #000;
}
textarea {
    resize: vertical;
    min-height: 150px;
}
.button {
    background: #e67e22;
    color: #fff;
    border: 1px solid transparent;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.button:focus {
    border: 1px solid #fff;
}
::-webkit-input-placeholder {
    color: #f39c12;
    opacity: 1;
}
:-moz-placeholder {
    color: #f39c12;
    opacity: 1;
}
::-moz-placeholder {
    color: #f39c12;
   opacity: 1;
}
:-ms-input-placeholder {
   color: #f39c12;
}
.help-block {
    display: block;
    margin-bottom: 5px;
}
.poem {
    background: none repeat scroll 0 0 white;
    border-radius: 3px;
    color: #f39c12;
    margin: 20px 0;
    padding: 30px 45px;
    text-align: left;

    .poem-title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        line-height: 1.25;
        margin: 5px 0 10px;
    }
    .poem-text {
        line-height: 1.5;
        font-size: 16px;
    }
}
@media #{$small-only} {
    .form-action {
        margin-top: 25px;
    }
    header.main {
        margin-bottom: 0;
    }
    .site-name {
        margin: 20px 0 0;
        display: block;
    }
}
